# turnserver.conf.template
listening-port=3478
fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret=${TURN_SECRET}
realm=holo.local
no-tls
no-dtls
no-cli
# Alpine-specific: Use container's primary IP
external-ip=$(hostname -i | awk '{print $1}')
relay-ip=$(hostname -i | awk '{print $1}')
